/* ---------- CSS RESET ---------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #fff;
  color: #000;
  line-height: 1.4;
}

/* ---------- HEADER SECTION ---------- */

.container {
  width: 320px;
  margin: 0 auto;
  background-color: #fff;
}

.header {
  padding: 16px;
  width: 100%;
}

.header__wrap {
  display: flex;
  align-items: center;

  justify-content: start;
  gap: 8px;
}

.logo__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0.02em;
  color: #f07f2e;
}

/* ---------- HERO SECTION ---------- */

.hero {
  display: grid;
  grid-template-columns: 1fr;
  gap: 12px;
  background-color: #fff;
  margin: 0 auto;
  padding: 0 16px 96px 16px;
  width: 320px;
  max-width: 100%;
}

.hero__wrap {
  position: relative;
  border-radius: 16px;
  width: 288px;
  height: 172px;
  overflow: hidden;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.hero__text {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  bottom: 0;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #fff;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  margin: 0;
}

/* ---------- CONTENT SECTION ---------- */

.content__section {
  padding: 0 16px 96px 16px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  width: 320px;
  margin: 0 auto;
}

.content__image {
  width: 288px;
  height: 170px;
  margin-bottom: 20px;
}

.content__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
  margin-bottom: 12px;
}

.content__text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #2c2c2c;
}

/* ---------- SOCIAL SECTION ---------- */

.social__section {
  padding: 0 16px 108px 16px;
  width: 320px;
  background-color: #fff;
  margin: 0 auto;
}

.social__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.social__wrap {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px 8px;
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 8px 32px 8px 8px;
  width: 140px;
  height: 48px;
  gap: 6px;
}

.instagram {
  background: #d8def8;
}

.facebook {
  background: #ffe8f1;
}

.youtube {
  background: #fae8ea;
}

.tiktok {
  background: #e9f9f8;
}

.github {
  background: #fffddc;
}

.twitter {
  background: #f2eef8;
}

.social__icon {
  border: 1px solid #2f2f37;
  border-radius: 8px;
  padding: 8px;
  width: 32px;
  height: 32px;
}

/* ---------- VIDEO SECTION ---------- */

.video__section {
  width: 320px;
  background-color: #fff;
  padding: 0 16px 96px 16px;
  margin: 0 auto;
}

.video__title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 28px;
  line-height: 129%;
  letter-spacing: 0.02em;
  color: #2c2c2c;
  margin-bottom: 24px;
}

.video__wrap {
  position: relative;
  border-radius: 16px;
  width: 288px;
  height: 216px;
  overflow: hidden;
}

.video__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video__icon {
  position: absolute;
  left: 42%;
  top: 40%;
  width: 44px;
  height: 44px;
}

/* ---------- FOOTER SECTION ---------- */

footer {
  background: #ecf6ff;
}

.footer__wrap {
  display: grid;
  grid-template-columns: 24px 1fr;
  align-items: center;
  gap: 8px;
  background: #ecf6ff;
  padding: 16px;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

/* ---------- 768-1439 ---------- */

@media screen and (min-width: 768px) and (max-width: 1439px) {
  .container {
    width: 768px;
  }

  /* ---------- HERO SECTION ---------- */
  .hero {
    width: 768px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px 23px;
  }

  .hero__image-1 {
    border-radius: 16px;
    width: 357px;
    height: 378px;
  }

  .hero__wrap-1 {
    border-radius: 16px;
    width: 357px;
    height: 378px;
    grid-row: 1 / 3;
  }

  .hero__text-1 {
    top: 300px;
  }

  .hero__image-2 {
    border-radius: 16px;
    width: 356px;
    height: 177px;
  }

  .hero__wrap-2 {
    border-radius: 16px;
    width: 356px;
    height: 177px;
  }

  .hero__image-3 {
    border-radius: 16px;
    width: 356px;
    height: 177px;
  }

  .hero__wrap-3 {
    border-radius: 16px;
    width: 356px;
    height: 177px;
  }

  /* ---------- CONTENT SECTION ---------- */

  .content__section {
    width: 768px;
  }

  .content__wrap {
    display: grid;
    grid-template-columns: 264px 1fr;
    gap: 23px 24px;
    align-items: start;
  }

  .content__image {
    grid-row: 1 / 3;
    grid-column: 1;
    margin-bottom: 0;
  }

  .content__title {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0.03em;
    color: #2c2c2c;
  }

  .content__text {
    grid-column: 2;
    grid-row: 2;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #2c2c2c;
  }

  .content__image {
    border-radius: 16px;
    width: 264px;
    height: 156px;
  }

  /* ---------- SOCIALS SECTION ---------- */

  .social__section {
    width: 768px;
    margin: 0 auto;
  }

  .social__title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: 0.02em;
    color: #2c2c2c;
  }

  .social__wrap {
    gap: 24px;
  }

  .social__item {
    border-radius: 16px;
    padding: 8px 32px 8px 8px;
    width: 356px;
    height: 48px;
    justify-content: start;
    gap: 105px;
  }

  .social__text {
    justify-content: center;
  }

  /* ---------- VIDEO SECTION ---------- */

  .video__section {
    width: 768px;
    margin: 0 auto;
  }

  .video__wrap {
    border-radius: 16px;
    width: 736px;
    height: 442px;
  }

  .video__image {
    border-radius: 16px;
    width: 736px;
    height: 442px;
  }

  .video__icon {
    width: 88px;
    height: 88px;
    left: 320px;
  }
}

/* ---------- 1440+ ---------- */

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    padding: 0 156px;
  }

  /* ---------- HERO SECTION ---------- */

  .hero {
    width: 1440px;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 24px;
  }

  .hero__image-1 {
    width: 552px;
    height: 584px;
  }

  .hero__wrap-1 {
    width: 552px;
    height: 584px;
    grid-row: 1 / 3;
  }

  .hero__image-2 {
    width: 552px;
    height: 280px;
  }

  .hero__wrap-2 {
    width: 552px;
    height: 280px;
  }

  .hero__image-3 {
    width: 552px;
    height: 280px;
  }

  .hero__wrap-3 {
    width: 552px;
    height: 280px;
  }

  .hero__text-1 {
    top: 450px;
  }

  .hero__text-2 {
    top: 180px;
  }

  .hero__text-3 {
    top: 180px;
  }

  .main-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    align-self: start;
  }

  .content__section {
    width: 744px;
    grid-column: 1;
    grid-row: 1;
    gap: 36px;
    padding: 0 0 96px 0;
  }

  .content__wrap {
    display: grid;
    grid-template-columns: 264px 1fr;
    gap: 24px;
    row-gap: 12px;
    align-items: start;
  }

  .content__image {
    grid-row: 1 / 3;
    grid-column: 1;
    margin-bottom: 0;
    width: 264px;
    height: 156px;
  }

  .content__title {
    margin-bottom: 0;
  }

  .sidebar {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 60px;
  }

  /* ---------- SOCIALS SECTION ---------- */

  .social__section {
    padding: 0;
    margin: 0;
    width: 360px;
  }

  .social__title {
    font-size: 28px;
    line-height: 129%;
    letter-spacing: 0.02em;
  }

  .social__wrap {
    gap: 24px;
    width: 360px;
  }

  .social__item {
    padding: 8px 32px 8px 8px;
    width: 168px;
    height: 48px;
    gap: 24px;
  }

  .social__icon {
    width: 32px;
    height: 32px;
    border: 1px solid #2f2f37;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
  }
  .social__icon use {
    width: 16px;
    height: 16px;
  }

  /* ---------- VIDEO SECTION ---------- */

  .video__section {
    padding: 0;
    margin: 0;
    width: 360px;
  }

  .video__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 129%;
    letter-spacing: 0.02em;
    color: #2c2c2c;
  }

  .video__wrap {
    width: 360px;
  }

  /* ---------- FOOTER SECTION ---------- */

  .footer__wrap {
    padding: 16px 156px;
  }
}
